body {
  background-color: purple;
  display: block;
  margin: 0px; }

.paperDefault {
  padding: 20px;
  background-color: grey; }
  .paperDefault p {
    color: orange; }

.headerLogo {
  height: 5rem !important;
  width: 10rem !important; }

.headerBar {
  background-color: rgba(255, 255, 255, 0) !important; }
