body {
  background-color: grey;
  display: block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

.paperDefault {
  padding: 20px; }
  .paperDefault p {
    color: orange; }
