$color-primary: purple;
$color-secondary: grey;
$color-alert: orange;
$color-success: green;
$color-danger: red;

<<<<<<< HEAD
body { background-color: $color-secondary;
      display: block;
     margin-top: 0px;
     margin-right: 0px;
     margin-bottom: 0px;
     margin-left: 0px;

 }
=======
body { background-color: $color-primary; }
>>>>>>> 7aec870b14dca84287597e05639ecb7b794836c8

.paperDefault{
    padding: 20px;
    background-color: $color-secondary;
    p {
    color: $color-alert;
    }
}
