$color-primary: purple;
$color-secondary: grey;
$color-alert: orange;
$color-success: green;
$color-danger: red;

body { background-color: rgba(255, 255, 255, 0);
      display: block;
     margin: 0px;
 }

.paperDefault{
    padding: 20px;
    background-color: $color-secondary;
    p {
    color: $color-alert;
    }
  }

.headerLogo{
  height: 5rem !important;
  width: 10rem !important;
}
